html, body
{
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 100%;  
  font-family: "OpenSans", Arial, sans-serif;
}

#ivideo_container
{
  background-color: #000;
  width: 900px;
}

.ivideo_linkbox
{
  /*  Add these, to see the border of your overlays */
  /*border: 2px solid blue !important;*/
}